.leaflet-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.custom-marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  color: white;
}
