.leaflet-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.custom-marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  color: white;
}

.map-container {
  display: flex;
}
.table-container {
  margin-left: 20px;
  text-align: left;
  font-size: 20px;
}

.map-container {
  flex: 1;
  padding-left: 20px; /* 예시로 설정된 값이므로 필요에 따라 조절하세요 */
}

.MapContainer {
  width: 100%;
  height: 100%;
}

.table-container th {
  padding-right: 10px;
  font-size: 20px;
}

.table-container td {
  font-size: 20px;
}

/* CSS 파일 또는 스타일 시트에 추가 */
.text-with-shadow {
  writing-mode: horizontal-tb;
  font-size: 16px; /* 텍스트 크기 조절 */
  color: white; /* 텍스트 색상을 흰색으로 설정 */
  text-shadow: 0 0 3px black; /* 텍스트에 검은색 테두리 그림자 추가 */
}
